@import 'reset';

@import 'vars';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0 0 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
}

// reusable button
.button {
    display: block;
    width: 100%;
    border-radius: .35em;
    border: 3px solid $border-color;
    padding: .85em 0;
    text-align: center;

    &:hover {
        color: $hover-color;
        border: 3px solid $hover-color;
    }
}

// reusable image sections
.img {
    margin: 0 0 2em 0;

    h3 {
        font-size: 1em;
    }

    p {
        font-size: .8em;
        line-height: 1.5em;
    }

    a, img {
        display: block;
        width: 100%;
        border-radius: .35em;
    }

    a {
        margin-bottom: 1.5em;
    }
}


/////////////// COLORS ///////////////

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
}

p {
    color: $text-color;
}

strong {
    color: #FFFFFF;
}

.button {
    color: $heading-color;
}


/////////////// HEADER ///////////////

#header {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4.5em 1.5em;
}

.inner {
    margin: 0 0 2em 0;
}

.avatar.link {
    display: inline-block;
    margin: 0 0 1em 0;
}

.header_avatar {
    width: 6.25em;
    border-radius: 100%;
}

h1 {
    font-size: 1.15em;
    line-height: 1.75em;
}

.full_width {
    display: block;
}

.dotted {
    text-decoration: none;
    border-bottom: 1px dotted;
}


/////////////// SECTION 1 & 2 ///////////////

.main {
    padding: 2.25em 1.5em 0.25em 1.5em;
}

#section1, #section2 {
    margin-bottom: 2.25em;
}


            // section1 //

.main_head {
    font-size: 1.35em;
    line-height: 1.5em;
}

.main_text {
    margin: 0 0 2em 0;
    line-height: 1.75em;
}

            // section2 //

#section2 {
    border-top: 2px solid $border-color;
    padding-top: 2.25em;
}

.recent_work {
    font-size: 1.2em;
} 


//////////////////// MEDIA QUERIES ////////////////////

@media (min-width: 426px) {

    // HEADER //
    header {
        padding: 6em 4em;
    }

    h1 {
        font-size: 1.75em;
    }

    // SECTION 1 & 2 //

    .main {
        padding: 6em 4em;
    }

    .full_width.section1 {
        display: inline;
    }

    .table {
        display: table;
    }

    .row {
        display: table-row;
        padding-bottom: 2em;

        > :first-child {
            padding-right: 1em;    
        }

        > :nth-child(2) {
            padding-left: 1em;
        }

    }

    .img {
        display: table-cell;
        padding-bottom: 2em;
        
    }

    // section1

    #section1 {
        margin: 0 0 4em 0;
    }

    .main_head {
        font-size: 2.2em;
    }

    .button {
        width: 10em;
    }

    // section2

    #section2 {
        padding-top: 4em;
    }

    .recent_work {
        font-size: 1.5em;
        line-height: 1.5em;
    }



}







