@import 'reset';

@import 'vars';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0 0 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    display: block;
    width: 100%;
    border-radius: .35em;
    border: 3px solid $border-color;
    padding: .85em 0;
    text-align: center;
}


/////////////// COLORS ///////////////

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
}

p {
    color: $text-color;
}

strong {
    color: #FFFFFF;
}

.button {
    color: $heading-color;
}


/////////////// HEADER ///////////////

#header {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4.5em 1.5em;
}

.inner {
    margin: 0 0 2em 0;
}

.avatar.link {
    display: inline-block;
    margin: 0 0 1em 0;
}

.header_avatar {
    width: 6.25em;
    border-radius: 100%;
}

h1 {
    font-size: 1.15em;
    line-height: 1.75em;
}

.full_width {
    display: block;
}

.dotted {
    text-decoration: none;
    border-bottom: 1px dotted;
}


/////////////// SECTION 1 & 2 ///////////////

.main {
    padding: 2.25em 1.5em 0.25em 1.5em;
}

#section1 {
    margin-bottom: 2.25em; 
}

h2 {
    font-size: 1.35em;
    line-height: 1.5em;
}

p {
    margin: 0 0 2em 0;
    line-height: 1.75em;
}





