//////////////////// COLORS ////////////////////

$white: #FFFFFF;
$darkblue: #242943;

//backgrounds
$head: #2A2F4A;
$one: #74BBD4;
$two: #827AB6;
$three: #DD8B83;
$four: #D8AE88;
$five: #839AD2;
$six: #7DB198;
$form-bg: #242943;