html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:before,
*:after {
  box-sizing: inherit; }

.grid {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.grid:after,
.row:after {
  clear: both; }

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px; }

.col-1 {
  width: 6.25%; }

.col-2 {
  width: 12.5%; }

.col-3 {
  width: 18.75%; }

.col-4 {
  width: 25%; }

.col-5 {
  width: 31.25%; }

.col-6 {
  width: 37.5%; }

.col-7 {
  width: 43.75%; }

.col-8 {
  width: 50%; }

.col-9 {
  width: 56.25%; }

.col-10 {
  width: 62.5%; }

.col-11 {
  width: 68.75%; }

.col-12 {
  width: 75%; }

.col-13 {
  width: 81.25%; }

.col-14 {
  width: 87.5%; }

.col-15 {
  width: 93.75%; }

.col-16 {
  width: 100%; }

html {
  font-family: sans-serif;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.link {
  text-decoration: none;
  display: block; }

.html5up,
.nav-text {
  display: none; }

#header {
  padding: .25em .8em;
  display: table; }

.logo-wrap,
.forty,
.html5up,
nav,
.nav-text,
.hamburger {
  vertical-align: middle; }

.logo-wrap,
nav {
  display: table-cell; }

.logo-wrap {
  text-align: left; }

nav {
  text-align: right;
  width: 100%; }

.logo.link,
.nav.link {
  display: inline-block; }

.forty,
.html5up,
.nav-text,
.hamburger {
  padding: .3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75em; }

.hamburger {
  width: 25px; }

.banner {
  padding: 4em 1.2em 6em;
  text-align: center; }

.title {
  font-size: 1.75em;
  border-bottom: 2px solid #FFFFFF;
  line-height: 2em;
  font-weight: 600;
  margin: 0 0 1em 0; }

.subtitle {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .085em;
  line-height: 1.5em;
  margin-bottom: 2em;
  text-align: left; }

.getstarted-wrap {
  display: table;
  border: 2px solid #FFFFFF;
  padding: 0 1em; }

.text-wrap,
.arrow-wrap {
  display: table-cell;
  vertical-align: middle; }

.getstarted.link {
  display: block; }

.getstarted-text {
  font-size: .7em;
  padding-right: .5em;
  text-transform: uppercase;
  letter-spacing: 1px; }

.arrow {
  width: 80%; }

#one, #two, #three, #four, #five, #six {
  text-align: left;
  padding: 1.5em;
  height: 16em; }

.img-wrap.link {
  display: block; }

.heading-wrap {
  padding: 6em 0; }

.body-title {
  font-size: 1.5em;
  border-bottom: 2px solid #FFFFFF;
  padding: 0 3em .35em 0;
  margin-bottom: .5em;
  display: inline-block; }

.body-subtitle {
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .15em; }

#info {
  padding: 3em 1.5em; }

#info-title {
  margin-bottom: 1.5em; }

#info-text {
  line-height: 1.75em;
  text-transform: none;
  font-size: .75em;
  font-weight: 200;
  margin-bottom: 2em; }

.form-wrap {
  padding: 3em 1.5em; }

.name,
.email,
.message {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 2px;
  font-weight: 600; }

.name-input,
.email-input,
.message-input {
  width: 100%;
  margin-bottom: 3em;
  border-style: none; }

.name-input,
.email-input {
  height: 3.75em; }

.send,
.clear {
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 1px;
  padding: 1em;
  border: 2px solid #FFFFFF;
  font-weight: 600; }

.send {
  width: 60%;
  margin-right: 1em; }

.clear {
  width: 30%; }

.contact {
  padding: 0 1.5em; }

.contact-method {
  padding: 2.5em 0;
  border-top: 2px solid #2A2F4A; }

.contact-icon,
.contact-head {
  vertical-align: middle;
  margin-bottom: 1em; }

.contact-icon {
  display: inline-block;
  width: 4%;
  padding: .5em;
  border-radius: 100%;
  margin-right: 1em; }

.contact-head {
  display: inline-block;
  font-weight: 600;
  font-size: 1.1em; }

.details {
  display: block;
  font-size: .85em;
  font-weight: 200;
  margin: 0 0 0 3.5em;
  line-height: 1.5em; }

.email-wrap {
  display: block; }

#email {
  border-bottom: 1px dotted #FFFFFF;
  display: inline-block; }

.footer {
  padding: 2em 1.5em;
  border-top: 2px solid #2A2F4A; }

.social.link {
  display: inline-block; }

.social-icon {
  width: 1em;
  border-radius: 100%;
  padding: .45em;
  vertical-align: center;
  margin: 0 .5em 1.5em 0; }

.copyright,
.design-credit {
  font-size: .7em;
  letter-spacing: 1px; }

.copyright {
  margin-bottom: .5em; }

.credit-underline {
  border-bottom: 1px dotted rgba(244, 244, 255, 0.2); }

link:visited {
  color: #FFFFFF; }

.getstarted-text {
  color: #FFFFFF; }

svg {
  fill: #FFFFFF; }

#header,
.banner {
  background: #2A2F4A;
  color: #FFFFFF; }

.forty {
  background: #FFFFFF;
  color: #2A2F4A; }

.html5up,
.nav-text {
  color: #FFFFFF; }

#one {
  background: #74BBD4; }

#two {
  background: #827AB6; }

#three {
  background: #DD8B83; }

#four {
  background: #D8AE88; }

#five {
  background: #839AD2; }

#six {
  background: #7DB198; }

.body-title,
.body-subtitle {
  color: #FFFFFF; }

#info {
  background: #2A2F4A; }

.form-wrap {
  background: #242943; }

.name-input,
.email-input,
.message-input {
  background: #2A2F4A; }

form {
  color: #FFFFFF; }

.send {
  background-color: #FFFFFF;
  color: #242943; }

.clear {
  background-color: #242943;
  color: #FFFFFF; }

.contact {
  background: #242943;
  color: #FFFFFF; }

.contact-icon {
  background: #FFFFFF;
  fill: #242943; }

.footer {
  background: #242943; }

.social-icon {
  background: #FFFFFF;
  fill: #242943; }

.copyright,
.design-credit {
  color: rgba(244, 244, 255, 0.2); }

@media (min-width: 480px) {
  .col-md-1 {
    width: 6.25%; }

  .col-md-2 {
    width: 12.5%; }

  .col-md-3 {
    width: 18.75%; }

  .col-md-4 {
    width: 25%; }

  .col-md-5 {
    width: 31.25%; }

  .col-md-6 {
    width: 37.5%; }

  .col-md-7 {
    width: 43.75%; }

  .col-md-8 {
    width: 50%; }

  .col-md-9 {
    width: 56.25%; }

  .col-md-10 {
    width: 62.5%; }

  .col-md-11 {
    width: 68.75%; }

  .col-md-12 {
    width: 75%; }

  .col-md-13 {
    width: 81.25%; }

  .col-md-14 {
    width: 87.5%; }

  .col-md-15 {
    width: 93.75%; }

  .col-md-16 {
    width: 100%; }

  .banner {
    text-align: left;
    padding: 2.5em 1.2em 3em; }

  #one, #two, #three, #four, #five, #six {
    height: 14em;
    padding: 2em; }

  .heading-wrap {
    padding: 5em 0; }

  .body-title {
    font-size: 2em;
    padding-right: 2em; }

  .body-subtitle {
    font-size: .7em; } }

/*# sourceMappingURL=styles.css.map */
