////////// Colors //////////
$title-color: rgba(255, 255, 255, 0.875);
$paragraph-color: rgba(255, 255, 255, 0.75);
$arrow-color: #726193;
$white: #FFFFFF;
$hr-color: rgba(255, 255, 255, 0.25);

////////// Fonts //////////
$font-stack: Helvetica, sans-serif;
$body-font: "Source Sans Pro";
$title-font: Arial;