////////// Colors //////////
$white: #FFFFFF;
$title-color: rgba(255, 255, 255, 0.875);
$paragraph-color: rgba(255, 255, 255, 0.75);
$arrow-color: #726193;
$hr-color: rgba(255, 255, 255, 0.25);
$sed-bg: rgba(135, 75, 73, 1);
$amet-bg: #726193;
$magna-bg: rgba(135, 73, 19, 0.5);
$elit-bg: #E37B7C;
$contact-bg: #353865;


////////// Fonts //////////
$font-stack: Helvetica, sans-serif;
$body-font: "Source Sans Pro";
$title-font: Arial;