html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.title,
.section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.2; }

h1 {
  font-size: 2.25rem; }

.section-title {
  font-size: 1.5rem; }

.paragraph {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: .95rem;
  font-weight: 300;
  line-height: 1.65; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body,
.page-wrap,
header,
.container,
.button-wrap,
.sed,
.icon-wrap,
.icon-link,
.image-gallery {
  display: flex;
  flex-direction: column; }

body {
  width: 100%; }

.container {
  width: 85%;
  margin: 0 auto; }

a {
  text-decoration: none; }

.title-underline,
.section-title-underline {
  width: 20%;
  margin: 0 0 1em 0;
  padding: 0; }

.section-title-under {
  border-bottom: 1px solid; }

.hero {
  width: 100%;
  height: 290px; }

.container {
  padding: 2.8rem 0; }

.title,
.section-title {
  margin-bottom: 1.25rem; }

.title-underline {
  border-bottom: 2px solid; }

.ethereal {
  font-weight: bold; }

.html5up {
  border-bottom: 1px dotted; }

.button-wrap {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 3.125rem;
  height: 3.125rem;
  margin-top: 1.75rem; }

.sed {
  padding: 2rem 0; }

.icon-wrap {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.5rem auto 0;
  max-width: 280px; }

li {
  margin-bottom: 1rem; }

.icon-link {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  flex: 1 100%; }

.magna {
  padding: 2rem 0; }

.image-gallery {
  flex-wrap: wrap;
  flex-direction: row; }

.img-1, .img-4, .img-5, .img-8, .img-9 {
  width: 100%;
  height: 100%; }

.img-2, .img-3, .img-6, .img-7 {
  width: 50%;
  height: 100%; }

body {
  background-image: url(images/overlay.png), url(images/bg.jpg); }

.main-head-wrap {
  background: linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4); }

.sed {
  background-color: #874b49; }

.amet {
  background: linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-color: #726193; }

.magna {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 70%, rgba(0, 0, 0, 0.175));
  background-color: rgba(135, 73, 19, 0.5); }

.elit {
  background: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-color: #E37B7C; }

.contact {
  background: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-color: #353865; }

.title,
.section-title {
  color: rgba(255, 255, 255, 0.875); }

.paragraph,
.html5up {
  color: rgba(255, 255, 255, 0.75); }

.htlm5up {
  border-color: rgba(255, 255, 255, 0.75); }

.title-underline,
.section-title-underline {
  border-color: rgba(255, 255, 255, 0.25); }

.button-wrap {
  background: #FFFFFF; }

.button {
  color: #726193; }

.icon-link {
  border-color: rgba(255, 255, 255, 0.25); }

.icon {
  color: #FFFFFF; }

a::visited {
  color: inherit; }

@media (min-width: 600px) {
  body,
  .page-wrap {
    flex-wrap: nowrap;
    overflow: scroll; }

  body,
  .page-wrap,
  header,
  .image-gallery,
  .amet {
    flex-direction: row; }

  body {
    height: 100vh;
    align-items: center; }

  .page-wrap {
    height: 32rem;
    padding: 5rem; }

  header,
  .sed,
  .amet,
  .magna,
  .elit,
  .image-gallery,
  .contact {
    flex: 0 0 auto; }

  .container {
    padding: 2rem 0;
    height: 100%;
    justify-content: center; }

  .hero {
    height: 100%;
    width: 12.5%; }

  .main-head-wrap {
    width: 30%; }

  .sed {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
